.page_bkgd {
    display: 'flex';
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100%;
    height: auto;
    background-size: cover;
}

.content_style {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;

}
